@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
.fence pre,
.fence code {
  margin: 0;
  padding: 0;
}
.fence .fence-body {
  padding: 0;
  overflow-y: auto;
}
.fence .fence-body .alert {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}
.fence .fence-body pre {
  overflow-x: auto;
  overflow-y: none;
}
.fence .fence-body code {
  padding: 3pt;
}
.fence .fence-header {
  font-style: normal;
  text-transform: none;
  cursor: ns-resize;
  margin: 0;
}
.fence .fence-header span {
  font-size: 16px;
}
.fence .alert-type-primary {
  color: #004085;
}
.fence .alert-type-secondary {
  color: #383d41;
}
.fence .alert-type-success {
  color: #155724;
}
.fence .alert-type-danger {
  color: #721c24;
}
.fence .alert-type-warning {
  color: #856404;
}
.fence .alert-type-info {
  color: #0c5460;
}
.fence .alert-type-light {
  color: #818182;
}
.fence .alert-type-dark {
  color: #1b1e21;
}
.fence code[class*="lang-"] {
  width: 100%;
  display: block;
  padding: 3pt;
}
.fence code.lang-nohighlight {
  background: #F0F0F0;
}
.table thead th {
  border-top: 0;
}
.toc-list {
  list-style-position: inside;
  padding: 0;
}
.toc-list-1 {
  padding-left: 10px;
}
.toc-list-2 {
  padding-left: 20px;
}
.toc-list-3 {
  padding-left: 30px;
}
.toc-list-4 {
  padding-left: 40px;
}
.toc-list-5 {
  padding-left: 50px;
}
.toc-list-6 {
  padding-left: 60px;
}
.toc-link {
  text-decoration: none !important;
}
.toc-link .toc-link-icon {
  display: none;
  font-size: 60%;
  padding-left: 5px;
}
.toc-link:hover .toc-link-icon {
  display: inline;
}
blockquote {
  padding: 12px;
  background-color: #F0F0F0;
  border: 1px solid #DFDFDF;
  border-radius: 0.25rem;
}
blockquote p {
  margin: 0;
}
/*** Custom CSS for styling this site ***/
body,
a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6 {
  color: #37392E;
}
a,
a:visited {
  color: #28AFB0;
  text-decoration: none;
}
.layout-header {
  padding: 10px;
  background-color: #37392E;
  border-radius: 0;
}
.layout-header i.fa-hand-lizard {
  color: #28AFB0;
}
.layout-header-title {
  color: #FFFFFF;
  font-size: 42pt;
  margin-left: 10px;
}
.layout-content-navigation ul {
  padding-left: 19px;
}
.layout-content-body {
  padding-bottom: 70px;
}
